{% extends 'base.html' %}

{% block content %}
<br>
<div class="container b">
  <h2>Code</h2>
  <div class="card">
    <div class="card-body">
        num_list = []<br>
for i in range(6):<br>
    num_list.append(input("Feed a number to the list : "))<br>
reverse = []<br>
num_list.reverse()<br>
for n in num_list:<br>
    reverse.append(n)<br>

print(reverse)<br>

    </div>
  </div>
</div>
<div class="container-fluid">
    <br><br>
    <form action="testa4">
        Enter a number :<input type="number" name="scr1"><br><br>
        Enter a number :<input type="number" name="scr2"><br><br>
        Enter a number :<input type="number" name="scr3"><br><br>
        Enter a number :<input type="number" name="scr4"><br><br>
        Enter a number :<input type="number" name="scr5"><br><br>
        Enter a number :<input type="number" name="scr6"><br><br>

        <input class="btn btn-primary btn-block btn-lg" type="submit"><br><br>

    </form>




    Result = {{result1}}<br><br>
    Result = {{result2}}<br><br>

</div>



{% endblock %}