{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="jumbotron">
        <h1>Choose which script would you like to run :</h1>
    </div>
</div>
<ul>
    <li><a href="a1">Program to read and print the elements of an array of length 7</a></li><br>
    <li><a href="a2">Program to read 5 value in an array and check the elements are prime or not</a></li><br>
    <li><a href="a3">Program to read an array of length 5 and print the position and value of the array elements of value less than 5</a></li><br>
    <li><a href="a4">Program to read an array of length 6, change the first element by the last, the second element by the fifth and the third element by the fourth. Print the elements of the modified array</a></li><br>
    <li><a href="a5">Program to read an array of length 6 and find the smallest element and its position</a></li><br>
</ul>


{% endblock %}