{% extends 'base.html' %}

{% block content %}
<br>
<div class="container b">
  <h2>Code</h2>
  <div class="card">
    <div class="card-body">
n = int(input("Enter a number for multiplication table : "))<br>
for i in range(10):<br>
    product = 1<br>
    product = n*(i+1)<br>
    print("{:>2} * {:<2} = {:>1}".format(n,(i+1),product))<br>

    </div>
  </div>
</div>
<div class="container-fluid"><br><br>
    <form action="testl3">
        Enter a number :<input type="number" name="scr"><br><br>
        <input class="btn btn-primary btn-block btn-lg" type="submit"><br><br>
    </form>




    Result = {{result}}<br><br>


</div>



{% endblock %}