{% extends 'base.html' %}

{% block content %}
<br>
<div class="container b">
  <h2>Code</h2>
  <div class="card">
    <div class="card-body">
n = int(input("Enter a number : "))<br>
sum = 0<br>
for i in range(1,(n)):<br>
    if n%i == 0:<br>
        sum = sum + i<br>

if sum == n:<br>
    print("Perfect number")<br>
else:<br>
    print("Not a Perfect number")<br>

    </div>
  </div>
</div>
<div class="container-fluid"><br><br>
    <form action="testl4">
        Enter a number :<input type="number" name="scr"><br><br>
        <input class="btn btn-primary btn-block btn-lg" type="submit"><br><br>
    </form>




    Result = {{result}}<br><br>


</div>



{% endblock %}