{% extends 'base.html' %}

{% block content %}
<br>
<div class="container b">
  <h2>Code</h2>
  <div class="card">
    <div class="card-body">
n1 = input("Enter the first number :")<br>
n2 = input("Enter the second number :")<br>
n3 = 0<br>
n3 = n1<br>
n1 = n2<br>
n2 = n3<br>
print("The swapped values :"+n1+","+n2)<br>

    </div>
  </div>
</div>
<div class="container-fluid"><br><br>
    <form action="testn2">
        Enter 1st number :<input type="number" name="scr1"><br><br>
        Enter 2nd number :<input type="number" name="scr2"><br><br>
        <input class="btn btn-primary btn-block btn-lg" type="submit"><br><br>
    </form>

    Result = {{result}}<br><br>

</div>
{% endblock %}