{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Choose which script would you like to run :</h1>
    </div>
</div>
<ul>
    <li><a href="n1">To convert a given integer (in days) to years, months and days, assumes that all months have 30 days and all years have 365 days</a></li><br>
    <li><a href="n2">Program that accepts an employee's ID, total worked hours of a month and the amount he received per hour. Print the employee's ID and salary (with two decimal places) of a particular month </a></li><br>
    <li><a href="n3">Program that accepts three integers and find the maximum of three </a></li><br>
    <li><a href="n4">To read an amount (integer value) and break the amount into smallest possible number of bank notes</a></li><br>
    <li><a href="n5">To convert a given integer (in seconds) to hours, minutes and seconds</a></li><br>
    <li><a href="n6">To read 5 numbers and sum of all odd values between them</a></li><br>
    <li><a href="n7">Program that reads an integer between 1 and 12 and print the month name of the year in English</a></li><br>
    <li><a href="n8">Program that reads two numbers and divide the first number by second number </a></li><br>
    <li><a href="n9">Program that accepts a distance in centimeters and prints the corresponding value in inches</a></li><br>
    <li><a href="n10">Program that swaps two numbers with using third variable </a></li><br>
    <li><a href="n11">Program that swaps two numbers without using third variable </a></li><br>
</ul>


{% endblock %}