{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="jumbotron">
        <h1>Choose which script would you like to run :</h1>
    </div>
</div>
<ul>
    <li><a href="s1">To print string in reverse order</a></li><br>
    <li><a href="s2">Number of characters in string</a></li><br>
    <li><a href="s3">Number of vowels in a string</a></li><br>
    <li><a href="s4">Copy a string into another then counting the characters copied</a></li><br>
</ul>



{% endblock %}